{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Black And White Bootstrap Landing Page / Portfolio</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Google fonts - Montserrat for headings, Cardo for copy-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&amp;family=Montserrat:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Lightbox-->
    <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" />
    <!-- Leaflet-->
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}" />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  </head>